<div class="container">
	<div class="row">
		<% @orders.each_slice(3) do |orders| %>
			<% orders.each do |order| %>
				<div class="card col-xs-3 book">
						<%= image_tag(order.book.image.url, class: "card-img-top")%>
					  <div class="card-block">
					    <h4 class="card-title"><%= order.book.title %></h4>
					    <h6 class="card-subtitle mb-2 text-muted">
					    	Categories: 
					    	<% order.book.categories.each do |x|%>
					    		<%= x.name + " " %> 
					    	<% end %>
					    </h6>
					    <h6 class="introduction">Introduction:</h6>
					    <p class="card-text"><%= order.book.description %></p>
					    <div class="row">
								<p style="font-size: 18px;" class="card-text col-xs-3 price"><strong>Price: $<%= order.book.price  %></strong></p>
					    	<p class="card-text col-xs-4">
									<strong style="font-size: 16px;">Quantity:</strong> 
					    	</p>
					    	<p class="card-text col-xs-4"><input type="number" class="form-control text-center" value="#{order.quantity}"></p>
					    </div>
					  </div>
				</div>
			<% end %>
		<% end %>	
	</div>
</div>