<aside class="col-xs-3" id="left-aside">
	<h4 class="category-title">Category list</h4>
	<% @categories.each do |c| %>
		<div>
			<a href="">
				<h5><%=c.name %></h5>
			</a>
		</div>
	<% end %>						
</aside>
<section class="col-xs-9" id="right-section" style="margin: 0px; padding: 0px;">
	<!-- Slide carousel with static images
	To use dynamic images, please take a look at: http://stackoverflow.com/questions/37249854/rails-slider-with-image-caption
	-->
	<div class="slide-show col-xs-12">
		<div id="mainCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#mainCarousel" data-slide-to="1"></li>
		    <li data-target="#mainCarousel" data-slide-to="2"></li>
		    <li data-target="#mainCarousel" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		    <%= image_tag("action.jpg", alt: "Action", class: "carousel_image")%>
		    </div>

		    <div class="item">
		      <%= image_tag("horror.jpg", alt: "Horror", class: "carousel_image")%>
		    </div>

		    <div class="item">
		      <%= image_tag("literature.jpg", alt: "Literature", class: "carousel_image")%>
		    </div>

		    <div class="item">
		      <%= image_tag("drama.png", alt: "Drama", class: "carousel_image")%>
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>		
	</div>
	<%= render 'layouts/list_book', is_editable: false %>		
	<%= will_paginate @books %>
</section>