<aside class="col-xs-3">
	<h4 class="category-title">Category list</h4>
	<% @categories.each do |c| %>
		<div>
			<a href="">
				<h5><%=c.name %></h5>
			</a>
		</div>
	<% end %>						
</aside>
<section class="col-xs-9">
	<h1 align="center">Listing books</h1>
	<div class="container">
	<% @books.each_slice(3) do |books| %>
		<div class="row">
			<% books.each do |book| %>
				<div class="card col-xs-4">
				  <%= image_tag("book-store", class: "card-img-top")%>
				  <div class="card-block">
				    <h4 class="card-title"><%= book.title %></h4>
				    <h6 class="card-subtitle mb-2 text-muted">
				    	Categories: 
				    	<% book.categories.each do |x|%>
				    		<%= x.name + " " %> 
				    	<% end %>
				    </h6>
				    <p class="card-text"><%= book.description %></p>
				    <a href="#" class="btn btn-primary">Add to cart</a>
				  </div>
				</div>			
			<% end %>
		</div>
	<% end %>
	</div>
	<%= will_paginate @books %>
</section>