<h1>Listing all book</h1>
<%= link_to "Create a new book", new_book_path %>
<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
	</tr>
	<% @books.each do |a| %>
	<tr>
		<td><%= a.title %></td>
		<td><%= a.description %></td>
		<td><%= link_to 'Edit', edit_book_path(a) %></td>
		<td><%= link_to 'Show', book_path(a) %></td>
		<td><%= link_to 'Delete', book_path(a), method: :delete, data: {Confirm: "are you sure?"} %></td>
	</tr>
	<% end %>
</table>