<div class="containter" style="margin-left: 20%; margin-right: 20%; margin-top: 15px;">
	<div class="row">
		<!-- Book Image -->
		<div class="col-xs-5">
			<%= image_tag(@book.image.url, class: "image")%>
		</div>

		<!-- Book Description-->
		<div class="col-xs-7">
			<h4 class="card-title title"><%= @book.title %></h4>
			<h6 class="card-subtitle mb-2 text-muted categories">
				Categories: 
				<% @book.categories.each do |x|%>
					<%= x.name + " " %> 
				<% end %>
			</h6>
			<h6 class="introduction">Introduction:</h6>
			<p class="card-text description"><%= @book.description %></p>
			<p style="font-size: 18px;" class="card-text price"><strong>Price: $<%= @book.price  %></strong></p>
			<p class="card-text">
				<strong style="font-size: 18px;">Quantity:</strong> 		
			</p>
 			<div class="row">
				<p class="card-text col-xs-3">
					<%= number_field_tag "quantity", '1',  class: "form-control text-center"%>
				</p>
				<%= button_to 'Add to cart', {:controller => "orders", :action => "create", :book_id => @book.id, :user_id => current_user.id, :quantity => 1} , :method=>:post, class: "btn btn-xs btn-danger", style: "font-size: 18px;"  %>
			</div>
		</div>
		<!-- BEGIN list similar book -->
		<div class="col-xs-12" style="margin-top: 30px;">
			<h3 style="border-bottom: solid 1px gray; padding-bottom: 10px;"><strong>Similar books</strong></h3>
			<div class="row" style="padding-top: 10px;">
				<% @similarbooks.first(4).each do |similarbook|%>
					<div class="card col-xs-3 book">
						<%= link_to book_path(similarbook.id) do %>
						  <%= image_tag(similarbook.image.url, class: "card-img-top")%>
							  <div class="card-block">
							    <h4 class="card-title"><%= similarbook.title %></h4>
							    <h6 class="card-subtitle mb-2 text-muted">
							    	Categories: 
							    	<% similarbook.categories.each do |x|%>
							    		<%= x.name + " " %> 
							    	<% end %>
							    </h6>
									<p style="font-size: 16px;" class="card-text price"><strong>Price: $<%= similarbook.price  %></strong></p>							    
							  </div>
					  <% end %>
					</div>							
				<% end %>
			</div>
		</div>		
		<!-- END list similar book -->
	</div>	
</div>
