<div class="row">
  <div class="new-btn">
    <%= link_to "New category", new_category_path, class: "btn btn-xs btn-primary button" %>
  </div>

  <% @categories.each do |category|%>
    <div class="category-item">
      <p class="category-name"><%=category.name%></p>
      <p class="category-description"><%=category.description%></p>
      <div class="row">
        <%= link_to "Edit", edit_category_path(category.id), class: "btn btn-xs btn-primary button" %>
        <%= link_to "Delete", category_path(category.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger button" %>
      </div>
    </div>
  <% end%>
</div>
