<!DOCTYPE html>
<html>
<head>
  <title>DevelopGoldenshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
</head>
<body>
	<%= render 'layouts/navigation' %>
	<div class="container-fluid">
		<div class="row">
<!-- 	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>	 -->	
			<%= yield %>
		</div>
	</div>
	<footer class="container-fluid">
		<h1>FOOTER</h1>
	</footer>
	<%# for debug %>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
